services:
  database:
    image: mariadb:10.5.8
    ports:
      - '3307:3306'
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: students
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 3s
      retries: 5
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    environment:
      - APP_ENV=prod
      - APP_DEBUG=1
      - DATABASE_URL=mysql://root:password@database:3306/students?serverVersion=10.5.8
    volumes:
      - './:/var/www/html/symfony'
    depends_on:
      database:
        condition: service_healthy





